.banner-container {
	width: 75%;
	margin: 0 auto;
	padding: 36px;
	padding-bottom: 12px;
}

img {
	width: 100%;
	margin: 0 auto;
}

.greeting {
	width: 75%;
	justify-content: center;
	margin: 0 auto;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.options a {
	padding: 10px 10px;
	border-radius: 4px;

	background-color: #2e2f35;
	text-decoration: none;
	width: 74%;

	margin: 0 auto;
}

.options a:hover {
	background-color: #838383;
	color: #e3e3e3;
}

.options a:active {
	background-color: #ddd;
	color: #3b3c41;
}